
.App {
  text-align: center;
  background-color: antiquewhite;
  color: rgb(53, 44, 44);
  font-family: 'Montserrat', sans-serif;
}

#display-container{
  display: flex;
  justify-content: space-evenly;
}